<div class="container">

  <div class="row">
    <div class="col-md-12">
      <h1> Welcome to Angular material</h1>
      <section>
        <div class="example-label">Basic</div>
        <div class="example-button-row">
          <button mat-button color="primary">Primary</button>&nbsp;
          <button mat-button color="accent">Accent</button>&nbsp;
          <button mat-raised-button color="warn">Warn</button>&nbsp;
          <button mat-button disabled>Disabled</button>
          <a mat-button href="https://www.google.com/" target="_blank">Link</a>
          <hr/>
        </div>
      </section>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
     
      
      <p>
        <mat-toolbar color="primary">
          <span>Product Application</span>
          <span class="example-spacer"></span>
          <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>favorite</mat-icon>
          </button>
          <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>share</mat-icon>
          </button>
        </mat-toolbar>
      </p>
    
    </div>
  </div>
</div>